:root {
    --header-count: 7;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
}

header {
    z-index: 100;
    height: 60px;
    width: 100%;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #7289da;
    box-shadow: 0px 1px 4px #2c2f33;
}

header nav div ul li a {
    text-decoration: none;
    color: inherit;
}

/* header nav div ul {
    z-index: 97;
    float: left;
    width: calc(100vw/4);
    margin-left: 5vw;
    margin-right: 5vw;
}

header nav div ul li {
    list-style: none;
    float: left;
    margin: 0 15px;
} */

@media all and (max-width:1025px) {
    header a img {
        z-index: 99;
        height: 80px;
        border-radius: 50%;
        border: 5px solid #7289da;
        position: fixed;
        top: 0px;
        margin-left: calc(50vw - 45px);
        transition: margin-left 0.5s ease-in-out;
    }

    header button.hamburger {
        z-index: 98;
        top: 0;
    }

    header.active a img {
        margin-left: calc(85vw - 45px);
    }

    header nav div#pre ul {
        margin: 60px 0 0 0;
        padding: 10px 0 0 0;
    }

    header nav {
        color: #ffffff;
        background-color: #4f5f98;
        height: calc(100vh - 60px);
        margin-top: 60px;
        opacity: 0;
        transition: opacity 0.6s ease-out;
    }

    header.active nav {
        opacity: 1 !important;
    }

    header nav div ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    header nav div ul li {
        width: 100%;
        padding: calc((100vh - 90px) / ((var(--header-count) - 1) * 3)) 0;
        text-align: center;
        display: block;
        opacity: 0.8;
    }

    header nav div ul li:active {
        background-color: #667bc4;
    }
}


@media all and (min-width:650px) and (max-width:1025px) {
    header button.hamburger {
        left: 2vw;
    }
}

/* Hamburger is from https://github.com/jonsuh/hamburgers */
/* All credit goes to Jonathan Suh (https://github.com/jonsuh)*/

.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    position: absolute;
    top: -300vh;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger.is-active:hover {
    opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #ffffff;
}

.hamburger-box {
    width: 40px;
    height: 30px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--spin .hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}